.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
}

.main {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 30px;
}

.text h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
}

.text p {
    margin-top: 16px;
    font-size: 16px;
}